<div class="row mb-4 project">
  <div class="recipeCard">
    <h2>
      Welcome to your personal cookbook
    </h2>
    <p>Once you create an account on this app you can search for recipes and
      save them to your own personal cookbook.</p>
  </div>
</div>