<div class="recipeCard" style="background-color: rgba(255,255,255,0.7); padding: 15px;">
  <h2>{{{title}}}</h2>
  <p>{{{description}}}</p>

  <p class='ingredients'>
    {{#each ingredients as |ingredient|}}

      {{{ingredient}}}
      <br />
    {{/each}}
  </p>

  <p class='steps'>
    {{#each steps as |step|}}

      {{{step}}}
      <br />
    {{/each}}
  </p>

</div>