<div class="recipeCard">
  <button
    id="deleteRecipeBtn"
    class="btn btn-danger saveBtn"
    type="submit"
  >Delete</button>
  <h2 id="recTitle">{{{title}}}</h2>
  <p id="recDescription">{{{description}}}</p>

  <p id="recIngredients" class="ingredients">
    {{{ingredients}}}
  </p>

  <p id="recSteps" class="steps">
    {{{steps}}}
  </p>

</div>

<script src="/js/delete.js"></script>