<div class="text-center">
  <h2>{{recipe.title}}</h2>
  <p>{{recipe.description}}</p>
 
 
 
  <p class="ingredients">
    
  </p class"title">

  <body>
    
{{getTitle}}
{{getIngredients}}

  </body>
</div>


<script src="/public/js/recipe.js"></script>