<div class="recipeCard">
  <h2>{{{title}}}</h2>
  <p>{{{description}}}</p>

  <p class='ingredients'>
    {{#each ingredients as |ingredient|}}

      {{{ingredient}}}
      <br />
    {{/each}}
  </p>

  <p class='steps'>
    {{#each steps as |step|}}

      {{{step}}}
      <br />
    {{/each}}
  </p>

</div>