<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p> <input class="btn btn-primary" placeholder="Enter Ingredients"> 
     <input class="btn btn-primary" placeholder="Enter Title">
  </p>

  <body>
    
{{getTitle}}
{{getIngredients}}

  </body>
</div>

<script src="../public/js/"