<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p> <input class="btn btn-primary" placeholder="Enter Ingredients"> 
     <input class="btn btn-primary" placeholder="Enter Title">
  </p>
</div>

<script src="../public/js/"