header,
.recipe:not(:last-child) {
  border-bottom: 5px solid red;
}

a {
  color: blue;
  margin-left: 425px;
}
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.img {
  background-image: url(https://www.seoclerk.com/pics/502447-3jpPhn1483443794.jpg);
}