* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, Arial, sans-serif;
}

body {
  background-image: url("../images/ingredients.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  background-blend-mode: color-dodge;
}

header {
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

h2 {
  margin-bottom: 0;
}
/* Style the search field */
form.searchBtn input[type="text"] {
  padding: 9px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.searchBtn button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-radius: 5px;
}

form.searchBtn button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.searchBtn::after {
  content: "";
  clear: both;
  display: table;
}
.titleBtn {
  border-radius: 10px;
  padding: 10px;
  margin: 2px;
  display: inline-flex;
  width: 100%;
}
.titleBtn:hover {
  background-color: rgb(255, 223, 193);
  cursor: pointer;
}

.recipeCard {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  margin-bottom: 40px;
  border-radius: 10px;
}
.textBox {
  border-radius: 5px;
}
h1 {
  display: flex;
  text-align: center;
}

h5 {
  text-decoration: underline;
  margin-top: 20px;
}

p {
  text-align: justify;
  line-height: 1.25;
}

.recipeImage {
  float: right;
  margin: 5px 0 15px 15px;
}

a {
  color: rgb(0, 0, 140);
}
a:hover {
  color: rgb(0, 0, 240);
  text-decoration: none;
}
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.saveBtn {
  float: right;
  margin-left: 10px;
}

footer {
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  clear: both;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
}
