* {
  box-sizing: border-box;
  font-family: 'Courgette', cursive;
}

body {
  background-image: url('../images/ingredients.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: color-dodge;
}

/* Style the search field */
form.searchBtn input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.searchBtn button {
  float: left;
  width: 20%;
  padding: 11px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-radius: 5px;
}

form.searchBtn button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.searchBtn::after {
  content: "";
  clear: both;
  display: table;
}
.recipeBtn {
  border-radius: 10px;
  padding:10px;
  margin:2px;
  display:inline-flex;
  width: 100%;
}
.recipeBtn:hover{
  background-color: rgb(255, 223, 193);
  cursor: pointer;
}

.recipeCard {
  background-color: rgba(255,255,255,0.7); 
  padding: 15px;
  border-radius: 10px;
}
.textBox {
  border-radius: 5px;
}
header,
.recipe:not(:last-child) {
  border-bottom: 4px solid rgb(46, 46, 46);
  border-radius: 25px;
  margin-bottom: 30px;
  border-bottom-style:dotted;
}
h1 {
  display:flex;
  text-align: center;
}
a {
  color: rgb(143, 7, 52);
}
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgb(143, 7, 52);
  text-decoration:none;
  font-size: 20px;
}

.headerBtn:hover,.no-button:hover,.homeHeader:hover {
  color: rgb(230, 0, 76);
  text-decoration: underline;
}
.headerBtn{
  font-size: 20px;
}